
.navbar{

    width: 100%;
    background-color: #0a0909de;
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
}

.nav-btn{
    padding: 0.3rem;
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    visibility: hidden;
    opacity: 0;
    color: #ffffff;
}

.navbar img{
    width: 3.8rem;
    margin: 0rem 2.5rem;
    
}

.navbar a{
    margin: 0 2rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: #ffffff; 
    cursor: pointer;
    text-decoration: none;
  
}


@media only screen and (max-width:1024px) {
    
    .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #000;
        transition: 1s;
        transform: translateY(-100vh);

    }
    
    .responsive-nav{
        transform: none;
    }

    .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

  
}



::-webkit-scrollbar{

    width: 0.8rem;
    border-radius: 1rem;
}

::-webkit-scrollbar-track{

    background-color: #6a7481;
}

::-webkit-scrollbar-thumb{

    background:linear-gradient(#090516, #f7ebf5);
}